<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SWebViewImageDownload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF9356F11CFD5FC500129B82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF93570A1CFD5FC800129B82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF9357151CFD5FC800129B82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
